@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Blocat.</h1>
    <h2 class="text-danger">Acest cont a fost blocat. Va rugam incercati mai tarziu.</h2>
</hgroup>
